<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Página de Inicio</title>
</head>
<body>
    <h1>CRUD Django React</h1>
    <p>Selecciona una acción:</p>
    <ul>
        <li><a href="{% url 'getBlogs' %}">Ver logs</a></li>
        <li><a href="{% url 'postBlog' %}">Publicar un log</a></li>
        <li><a href="{% url 'putBlog' pk=1 %}">Editar un log</a></li>
        <li><a href="{% url 'deleteBlog' pk=1 %}">Eliminar un log</a></li>
    </ul>
    <!-- Puedes agregar más contenido aquí según tus necesidades -->
</body>
</html>
